.hero-container{
    background: url("./Himalayas-1.jpg") center;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.hero-container > h1{
   margin-top: -100px;
    font-size: 11vw;
    font-weight: bold;
    margin:0
}
p{
    margin:0;
    font-size: 4vw;
}
.hero-btns{
    
    margin-top: 20px;
}
.hero-btns Button{
    margin:5px;
    width:180px;
}