.nav-menu-icon,.nav-links-signup{
    display: none;
}
#list-signup{
    margin: 0;
}
.nav{
    display: flex;
    min-width: 100%;
    height: 100px;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    position: sticky;
    background-color: black;
    top:0;
    z-index: 999;
}
.nav-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  
}
.nav-logo{
    color:white;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
}
.nav-menu{
    display: grid;
    list-style: none;
    grid-template-columns: repeat(5, auto);
    position: absolute;
    right: 0;
    align-items: center;
}

.nav-items{
    margin: 10px;
}
.nav-links{
    color: white;
    text-decoration: none;
}
#signup{
    margin-right: 10px;
}
@media screen and (max-width:600px){
    .nav-container{
        position: relative;
        width: 100%;
        text-align: center;
    }
    #btn-signup{
        display: none;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        background-color: black;
        width: 100%;
        margin: 0;
        padding: 0%;
        left:-600px;
        transition: all 0.5s ease;
    }
    .nav-menu.active{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        background-color: rgb(26, 25, 25);
        width: 100%;
        margin: 0;
        padding: 0%;
        transition: all 0.5s ease;
        left: 0;
    }
    .nav-items{
        padding: 20px;
        cursor: pointer;
    }
    .nav-items:hover{
        background-color: rgb(83, 82, 80);
        width: 100%;
    }
    .nav-items{
        margin: 0px;
    }
    .nav-logo{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 90%;
    }
    .nav-links-signup{
        display: block;
        text-decoration:none;
        color: white;
    }
    .nav-menu-icon{
        display: block;
        color: white;
        cursor: pointer;
        font-size: 2rem;
    }
    
}