body{
  font-family: 'PT Sans';
  padding: 0;
  margin: 0;
}
.home,.about,.products,.signup{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  
}
.about,.products,.signup{
  background-color: violet;
  margin: 0;
}
